body {
  margin-left: 2%; margin-right: 2%;
  font-family: Verdana, sans-serif;
  color: black; background: white;
}

h1 {
  text-align: left; font-weight: bold; font-size: 150%;
}
h2 {
  text-align: left; font-weight: bold; font-size: 140%;
}
h3 {
  text-align: left; font-weight: bold; font-size: 120%;
  margin-bottom: -.4em;
}

p           { margin-left: 1em; }

a:link      { color: #0063DC; text-decoration: underline; }
a.clickable { color: #0063DC; text-decoration: underline overline; }
a:visited   { color: #1057AE; text-decoration: underline; }
a:hover     { color: #FFFFFF; background: #0063DC; text-decoration: none; }
a:active    { color: #FFFFFF; background: #0259C4; text-decoration: none; }

li          { margin-bottom: .4em; list-style-type: square; }

table       {
  margin-left: 1em;
}

table.big   {
  margin-left: 1em; margin-top: 1.5em;  margin-bottom: 2em;
  border-collapse: collapse;
  border: 1px solid gray;
}
table.big td {
  padding: .5em;
  text-align: left;
  border: 1px solid gray;
}
table.big th {
  padding: .5em;
  text-align: right; vertical-align: top; font-weight: normal;
  border: 1px solid gray;
}

address     { font-size: 92%; padding-bottom: 1em; }

img         { border: none; }
img.w3c     { float: right; height: 31px; width: 88px; }

abbr,acronym {
  border-bottom: 1px dotted #000;
  cursor: help;
}
